:root {
    --white: #FFF;
    --black: #000;

    --brown60: #AE9B84;
    --brown65: #B8A893;
    --brown70: #C2B4A3;
    --brown80: #D6CDC2;
    --brown90: #EBE6E0;
    --brown95: #F5F3F0;
    --brown97: #F9F8F6;
    --brown99: #FDFDFC;

    --dark06: #0F0F0F;
    --dark10: #1A1A1A;
    --dark12: #1F1F1F;
    --dark15: #262626;
    --dark20: #333333;
    --dark25: #404040;
    --dark30: #4D4D4D;
    --dark35: #595959;

    --grey40: #676665;
    --grey50: #81807E;
    --grey70: #B3B3B2;
    --grey80: #CACACE;
    --grey90: #E6E6E6;
    --grey95: #F2F2F2;
    --grey97: #F7F7F7;
    --grey99: #FCFCFC;
    
}