.container{
    display: flex;
    width: fit-content;
    padding: fluid-prop(14,14,1920,1440);
    background-color: var(--brown70);
    border-radius: 10px;
    @media (min-width:750px) {
        display: none;
    }
    & svg{
        max-width: 28px;
        min-width: 28px;
        color: var(--dark10);
    }
    & button {
        background: none;
    }
}
.menu{
    position: absolute;
    height: 100vh;
    width: 70%;
    top: 0;
    right: 0;
    transform: translateX(110%);
    transition: all 0.5s;
    background-color: var(--dark20);
    & a{
        color: var(--white);
        padding: 25px;
        width: 100%;
    }
}
.active{
    transform: translate(0%);
    transition: all 0.5s;
}